@using RescueTinder.Data;
@model VetNoteViewModel
@{
    ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
    <h4 style="padding-left: 25%">Edit dog`s information.</h4>
    <div class="row">
        <div class="col-md-6" style="left:25%">
            <hr />
            <div class="form-group">
                <label asp-for=@Model.IsVaccinated></label>
                <input type="checkbox" asp-for=@Model.IsVaccinated value="true" class="form-control" />
                <span asp-validation-for=@Model.IsVaccinated class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.IsDisinfected></label>
                <input type="checkbox" asp-for=@Model.IsDisinfected value="true" class="form-control" />
                <span asp-validation-for=@Model.IsDisinfected class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.IsCastrated></label>
                <input type="checkbox" asp-for=@Model.IsCastrated value="true" class="form-control" />
                <span asp-validation-for=@Model.IsCastrated class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.VetNote></label>
                <textarea asp-for=@Model.VetNote class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

